body {
  background-image: url(/images/todo-bg.png);
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width:100%;
 
}
.form-container {
  text-align: center;
  margin-top: 10px;
}
.form-input {
  width: 200px;
  height: 25px;
  border: none;
  background-color: rgb(255,255,255);
  border-radius: 10px;
  text-align:start;
  padding-left: 10px;

  /* margin: 20px auto; */
  /* display: block; */
}

.form-input:focus {
  outline: none;
}

.form-button {
  background-color: rgb(207,179,153);
  width: 50px;
  height: 25px;
  border-radius: 5px;
  border: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  color: rgb(33, 39, 26);
}

.tasks-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 10px;
}

.todo-container {
  background-color:rgb(255,255,255);
  border-radius: 5px;
  width: 350px;
  overflow: hidden;
}

.task-container {
  padding: 20px;
  height: 400px;
  overflow-y: scroll;
  
}

h1 {
  color:rgb(66, 85, 43);
  padding-left:40px ;
  margin: 0 auto;
  width: 50%;
  padding-top: 10px;
}

li {
  list-style-type: none;
  color:rgb(33, 39, 26);
}
.complete-button {
  background-color: rgb(207,179,153);
  width: 90px;
  height: 25px;
  border-radius: 5px;
  border: none;
  text-align: center;
  display: block;
  cursor: pointer;
  margin: 0 auto;
  color: rgb(33, 39, 26);
}

.delete-button {
  background-color: rgb(207,179,153);
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: none;
  text-align: center;
  display: block;
  cursor: pointer;
  /* margin: 0 auto; */
  color: rgb(33, 39, 26);
}









